<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />


    <application
        tools:targetApi="q">

        <service android:name="com.hbisoft.hbrecorder.ScreenRecordService"
            android:foregroundServiceType="mediaProjection|microphone"
            tools:targetApi="q" />

        <receiver android:name="com.hbisoft.hbrecorder.NotificationReceiver"/>

    </application>

</manifest>
