<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hbisoft.hbrecorder">

    <application
        tools:targetApi="q">

        <service android:name="com.hbisoft.hbrecorder.ScreenRecordService"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <receiver android:name="com.hbisoft.hbrecorder.NotificationReceiver"/>

    </application>

</manifest>
